@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thêm các kiểu CSS khác của bạn */

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
